<%= form_for(@tarea) do |f| %>
  <% if @tarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tarea.errors.count, "error") %> prohibited this tarea from being saved:</h2>

      <ul>
      <% @tarea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
  Encargado
  <%=select_tag 'tarea[encargado_id]', options_from_collection_for_select(@encargados, "id","nombre")%>
  </div>
  <div class="field">
    Empresa
    <%= select_tag 'tarea[empresa_id]', options_from_collection_for_select(@empresas, "id", "nombre") %> 
  </div>
  
  <div class="field">
    <%= f.label :fecha %>
    <%= f.date_select :fecha %>
  <!--  <input type="date" value="" /> <br /> -->
  </div>
  <div class="field">
    <%= f.label :horas %>
    <%= f.text_field :horas %>
  </div>
  <div class="field">
    <%= f.label :detalle %><br />
    <%= f.text_area :detalle %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
