<h1>Lista de tarea!</h1>





<table>
  <tr>
    <th>Nombre</th>
    <th>Empresa</th>
    <th>Fecha</th>
    <th>Horas</th>
    <th>Encargado</th>
    <th>Detalle</th>
    <th></th>
    <th></th>
    <th></th>
  
  </tr>
<% @tareas.each do |tarea| %>
  <tr>

    <td><%= tarea.nombre %></td>
    <td><%= tarea.empresa %></td>
    <td><%= l(tarea.fecha) if tarea.fecha %></td>
    <td><%= tarea.horas %></td>
    <td><%= tarea.user_id %></td>
    <td><%= truncate tarea.detalle, :length =>25 %></td>
    <td><%= link_to 'Ver', tarea %></td>
    <td><%= link_to 'Editar', edit_tarea_path(tarea) %></td>
    <td><%= link_to 'Borrar', tarea, :confirm => '¿Seguro?!!!', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />



  
<%= link_to 'Nueva Tarea', new_tarea_path %>


