<h1>Listing tareas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Empresa</th>
    <th>Fecha</th>
    <th>Horas</th>
    <th>Detalle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tareas.each do |tarea| %>
  <tr>
    <td><%= tarea.nombre %></td>
    <td><%= tarea.empresa %></td>
    <td><%= tarea.fecha %></td>
    <td><%= tarea.horas %></td>
    <td><%= tarea.detalle %></td>
    <td><%= link_to 'Show', tarea %></td>
    <td><%= link_to 'Edit', edit_tarea_path(tarea) %></td>
    <td><%= link_to 'Destroy', tarea, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tarea', new_tarea_path %>
