<h1>Lista de tarea!</h1>

<% form_tag request.path, :method => 'get' do %>
  <% content_tag :label do %>
    Search term:
    <%= text_field_tag :search, params[:search] %>
  <% end %>
<% end %>










<table>
  <tr>
    <th>Nombre</th>
    <th>Empresa</th>
    <th>Fecha</th>
    <th>Horas</th>
    <th>Detalle</th>
    <th></th>
    <th></th>
    <th></th>
  
  </tr>
<% @tareas.each do |tarea| %>
  <tr>

    <td><%= tarea.nombre %></td>
    <td><%= tarea.empresa %></td>
    <td><%= l(tarea.fecha) if tarea.fecha %></td>
    <td><%= tarea.horas %></td>
    <td><%= truncate tarea.detalle, :length =>25 %></td>
    <td><%= link_to 'Ver', tarea %></td>
    <td><%= link_to 'Editar', edit_tarea_path(tarea) %></td>
    <td><%= link_to 'Borrar', tarea, :confirm => '¿Seguro?!!!', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


<div class="apple_pagination">
    <div (clas="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @tareas, :container => false %>
  </div>
<%= link_to 'Nueva Tarea', new_tarea_path %>
<%= link_to 'Nueva Empresa', new_empresa_path %>

