<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @tarea.nombre %>
</p>

<p>
  <b>Empresa:</b>
  <%= @tarea.empresa %>
</p>

<p>
  <b>Fecha:</b>
  <%= @tarea.fecha %>
</p>

<p>
  <b>Horas:</b>
  <%= @tarea.horas %>
</p>

<p>
  <b>Detalle:</b>
  <%= @tarea.detalle %>
</p>


<%= link_to 'Edit', edit_tarea_path(@tarea) %> |
<%= link_to 'Back', tareas_path %>
