<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Contactos</h1>
<div id="buscar">
<%= form_tag contactos_path, :method => 'get' do %>
  <p>
 

    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar", :nombre => nil %>
  </p>
<% end %>
</div>

<table>
  <tr>
    <th>Nombre</th>
    <th>Empresa</th>
    <th>Telefono</th>
    <th>Celular</th>
    <th>Comentario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contactos.each do |contacto| %>

  <tr>
    <td><%= contacto.nombre %></td>
    <td><%= contacto.empresa %></td>
    <td><%= contacto.telefono %></td>
    <td><%= contacto.celular %></td>
    <td><%= contacto.comentario %></td>
    <td><%= link_to 'Ver', contacto %></td>
    <td><%= link_to 'Editar', edit_contacto_path(contacto) %></td>
    <td><%= link_to 'Borrar', contacto, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />



<%= link_to 'Nuevo Contacto', new_contacto_path %>
