<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @empresa.nombre %>
</p>

<p>
  <b>Telefono:</b>
  <%= @empresa.telefono %>
</p>

<p>
  <b>Detalle:</b>
  <%= @empresa.detalle %>
</p>

<p>
  <b>Contacto:</b>
  <%= @empresa.contacto %>
</p>


<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
