<!DOCTYPE html>
<html>
<head>
  <title>Mendotec</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  
</head>
<body id="tarea">

<div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Sistema" %><!-- <label id="code.depot.e.title"/> -->
  </div>

<div id="columns">
      <% if session[:user_id] %>
        <br />
        
        <%= link_to 'Tareas',   tareas_path   %><br />
        <%= link_to 'Empresas', empresas_path %><br />
        <%= link_to 'Encargados',    users_path    %><br />
        <%= link_to 'Contactos' , contactos_path %> <br />
        <br />
        <%= button_to 'Logout', logout_path, :method => :delete   %>
      <% end %>
<!-- END_HIGHLIGHT -->
</div>

<div id="main">
      <%= yield %>
</div>

</body>
</html>
